asn1crypto==0.24.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
bz2file==0.98
certifi==2018.4.16
cffi==1.11.5
cryptography==2.2.2
Cython==0.28.1
dnspython==1.15.0
docutils==0.14
enum34==1.1.6
feedparser==5.2.1
futures==3.2.0
gevent==1.2.2
google-api-python-client==1.6.5
greenlet==0.4.13
grequests==0.3.0
httplib2==0.10.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.16
jmespath==0.9.3
lxml==4.2.1
mongoengine==0.15.0
oauth2client==4.1.2
Pillow==6.2.0
pybind11==2.2.2
pycparser==2.18
pymongo==3.6.0
PyOpenGL==3.0.2
Pyrex==0.9.8.5
requests==2.18.4
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
